#logged-options{
position:absolute;
background-color: rgb(104, 106, 105);
border-radius:5px;
overflow: auto;
padding: 4px;
display: none;
right:0;
}
#div-logged-options{
  position:relative;
}

.custom-forms{
  overflow: hidden;
  padding: 10px;
}

.column-category{
  column-count:3;
}

@media only screen and (max-width: 1250px) {
  .column-category{
    column-count:2;
  }
}
@media only screen and (max-width: 800px) {
  .column-category{
    column-count:1;
  }
}

/* Imagenes galeria */

.imagenView {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 500px;
    max-height: 500px;
    z-index: 2;
    display: none;
}
.imagenPreview{
  cursor:pointer;
}
.tapar{
  position: absolute;
  background-color: rgba(77, 77, 77, 0.57);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}

#segundaOportunidadEliminar{
  color:white;
}

.confirmacionEliminacion{
  border: 2px solid rgb(84, 23, 23);
  color: white;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 40px;
  z-index: 2;
  background-color: rgb(102, 102, 102);
  border-radius: 10px;
  display: none;
}

/* Google Translate */
.translated-ltr{margin-top:-40px;}
.translated-ltr{margin-top:-40px;}
.goog-te-banner-frame {display: none;margin-top:-20px;}

.goog-logo-link {
   display:none !important;
}
.goog-te-combo{
  color:white;
  background-color: #343a40;

}
.goog-te-gadget{
   color: transparent !important;
}
