#logged-options{
position:absolute;
background-color: rgb(104, 106, 105);
border-radius:5px;
left: 10px;
overflow: auto;
padding: 4px;
display: none;
}
#div-logged-options{
  position:relative;

}

.custom-forms{
  overflow: hidden;
  padding: 10px;
}
